<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Deleted Transactions</h4>
          <div class="table-responsive">
        <% if (deletedtransact.length > 0) { %>
            <table class="table">
              <thead>
                <tr>
                
                  <th> Companies Acc</th>
                  <th> Amount </th>
                  <th> Item Bought/Sold </th>
                  <th> Individual Acc </th>
                  <th> Payment Gateway </th>
                  <th> Type of Payment </th>
                  <th> Date of Transact </th>
                  <th> Time of Transact </th>
                  <th> TransactionID </th>
                  <th> Created </th>
                  <th> Updated </th>
                  <th> Time Deleted </th>
                  
                </tr>
              </thead>
              <tbody>

                <% deletedtransact.forEach(tran => { %>
                 
                <tr>
                  
                  <td>
                    <span class="pl-2"><%= tran.companyAcc %></span>
                  </td>
                  <td> <%= tran.Amount %> </td>
                  <td> <%= tran.itemBoughtSold %></td>
                  <td> <%= tran.IndividualAcc %></td>
                  <td> <%= tran.paymentGateway %> </td>
                  <td> <%= tran.Type %> </td>
                  <td> <%= tran.dateofTransact %> </td>
                  <td> <%= tran.timeofTransact %> </td>
                  <td> <%= tran.TransactionId %> </td>
                  <td> <%= tran.createAt %> </td>
                  <% if (tran.updateAt) { %>
                  <td> <%= tran.updateAt %></td>
                  <% } else { %>
                  <td> Nil</td>
                  <% } %>
                  <td> <%= tran.createdAt %> </td>
                  
                  <td> 
                    <form action="/transactions-undo/<%= tran._id %>" method="POST">
                      <input  type="submit" value="undo" class="btn-delete btn">
                    </form>
                  </td>

                </tr>

                <% }) %>

              </tbody>
            </table>
        <% } else { %>
        No Deleted Transactions
        <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
 