<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search Transactions for "<%= searchTerm %>"</h4>
          <div class="table-responsive">
          <% if (searchTransact.length > 0) { %>

            <table class="table">
              <thead>
                <tr>
                
                  <th> Companies Acc</th>
                  <th> Amount </th>
                  <th> Item Bought/Sold </th>
                  <th> Individual Acc </th>
                  <th> Payment Gateway </th>
                  <th> Type of Payment </th>
                  <th> Date of Transact </th>
                  <th> Time of Transact </th>
                  <th> TransactionID </th>
                  <th> Created </th>
                  <th> Updated </th>
                  
                </tr>
              </thead>
              <tbody>

                <% searchTransact.forEach(tran => { %>
                 
                <tr>
                  
                  <td>
                    <img src="/assets/images/faces/face1.jpg" alt="image" />
                    <span class="pl-2"><%= tran.companyAcc %></span>
                  </td>
                  <td>$<%= tran.Amount %> </td>
                  <td> <%= tran.itemBoughtSold %></td>
                  <td> <%= tran.IndividualAcc %></td>
                  <td> <%= tran.paymentGateway %> </td>
                  <td> <%= tran.Type %> </td>
                  <td> <%= tran.dateofTransact %> </td>
                  <td> <%= tran.timeofTransact %> </td>
                  <td> <%= tran.TransactionId %> </td>
                  <td> <%= tran.createAt %> </td>
                  <% if (tran.updateAt) { %>
                  <td> <%= tran.updateAt %></td>
                  <% } else { %>
                  <td> Nil</td>
                  <% } %>
                  <% if (current_user.admin == true) { %>
                    <td> 
                      <form action="/transactions-edit/<%= tran._id %>?_method=GET" method="POST">
                        <input  type="submit" value="Edit" class="btn-delete btn">
                      </form>
                    </td>
                    <td> 
                      <form action="/transactions/delete/<%= tran._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn-delete btn">
                      </form>
                    </td>
                  <% } %>


                  
                </tr>

                <% }) %>

              </tbody>
            </table>
            <% } else { %>
                <p>No page left</p>
              <% } %>
          </div>
        </div>
        <h4 class="card-title" style="padding: 8px 10px; margin-left: 20px;">
          <% if (noOfPages > 1) { %>

            <% if (hasPrevPage == true) { %>
            <a href="#" onclick="performPost(`<%= prevPage %>`, `<%= searchTerm %>`); return false"  style="padding: 0 4px; color: white;" >&lt; Prev</a>
            <% } %>
            <% for( let i = 0; i < noOfPages; i++ ) { %>
            <% if (page == i +1) { %>
                <a href="#" onclick="performPost(`<%= i + 1 %>`, `<%= searchTerm %>`); return false" style="padding: 0 4px; color: #3fafbc;" ><%= i + 1 %></a>  
            <% } else { %>
            <a href="#" onclick="performPost(`<%= i+ 1 %>`, `<%= searchTerm %>`); return false"style="padding: 0 4px; color: white;" ><%= i + 1 %></a>
            <% } %>
            <% } %>
            <% if (hasNextPage == true) { %>
                <a href="#" onclick="performPost(`<%= nextPage %>`, `<%= searchTerm %>`); return false" style="padding: 0 4px; color: white;">Next &gt;</a>
            <% } %>
            <% } %>
          
        </h4>
      </div>
    </div>
  </div>


  <script>
    function performPost(page, searchTerm) {

        console.log(page)
        const url = `/transactions?searchTerm=${searchTerm}&page=${page}`
        console.log(url)
        fetch(url, {
            method: 'POST',
            headers: {
                'Contenet-Type': 'application/json'
            },
            body: "Great"
        }).then(response=> response.text())
        .then(renderedContent => {
            document.getElementById('content').innerHTML = renderedContent
        })
        .catch(error => {
            console.error('ERROR: ' + error)
        })
    }
  </script>